# Project 2:  Lucid Titanic Sleuthing

## Part 1: Developing an understanding of the data

#### Based on the description of the data you read in the readme describe in your own words this data.

This data describes the passernges of both the Titanic and Lusitania ships, when they sunk. This includes family information, fare, passenger class and more.

#### Based on our conceptual understanding of the columns in this data set.  What are the reasonable range of the values for the Sex, Age, SibSp, Parch columns.

Sex could either be male or female, age could be from newborn (0) to 120 years (that is high, but inclusive). SibSp could be anywhere from 0 to 10 (which would be very high), and parrents and children could be from 0 to 10.

### Open the data in sublime text is there anything that jumps out to you?

There are many more columns in the Lusitania file, however there is much missing data from both Lusitania and Titanic data sets. Furthermore, there is much of the same information in both files, however, they describe them differently in each data set. For exmaple, the survived column(1 for saved, 0 for not) in the Titanic refers to the fate column ('Saved' for saved, 'Lost' for not) in Lusitania. While these data sets are compatable for comparison, some data cleanup is necessary.

## Part 2: reading the data in

#### Now read the data into a Pandas DataFrame

In [3]:
import pandas as pd
titanic_file = "/Users/Scott/dsi/DSI_Workspace/project-02/assets/titanic.csv"
lusitania_file = "/Users/Scott/dsi/DSI_Workspace/project-02/assets/lusitania.csv"
titanic = pd.read_csv(titanic_file)
lusitania = pd.read_csv(lusitania_file)

#### Check that the age column doesn't have any unreasonable values

In [9]:
titanic['age']

(0       29.00
 1        0.92
 2        2.00
 3       30.00
 4       25.00
 5       48.00
 6       63.00
 7       39.00
 8       53.00
 9       71.00
 10      47.00
 11      18.00
 12      24.00
 13      26.00
 14      80.00
 15        NaN
 16      24.00
 17      50.00
 18      32.00
 19      36.00
 20      37.00
 21      47.00
 22      26.00
 23      42.00
 24      29.00
 25      25.00
 26      25.00
 27      19.00
 28      35.00
 29      28.00
         ...
 1279    14.00
 1280    22.00
 1281    22.00
 1282      NaN
 1283      NaN
 1284      NaN
 1285    32.50
 1286    38.00
 1287    51.00
 1288    18.00
 1289    21.00
 1290    47.00
 1291      NaN
 1292      NaN
 1293      NaN
 1294    28.50
 1295    21.00
 1296    27.00
 1297      NaN
 1298    36.00
 1299    27.00
 1300    15.00
 1301    45.50
 1302      NaN
 1303      NaN
 1304    14.50
 1305      NaN
 1306    26.50
 1307    27.00
 1308    29.00
 Name: age, dtype: float64, pandas.core.series.Series)

In [15]:
lusitania['Age']

0         38
1         37
2         30
3         25
4         27
5         48
6        NaN
7        NaN
8         24
9       19 ?
10        57
11        50
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23        25
24       NaN
25        56
26       NaN
27        41
28       NaN
29       NaN
        ...
1931      44
1932     NaN
1933     NaN
1934     NaN
1935     NaN
1936     NaN
1937      27
1938     NaN
1939     NaN
1940     NaN
1941     NaN
1942      51
1943     NaN
1944      23
1945     NaN
1946     NaN
1947     NaN
1948     NaN
1949     NaN
1950     NaN
1951     NaN
1952     NaN
1953     NaN
1954      31
1955      35
1956     NaN
1957     NaN
1958     NaN
1959      16
1960      37
Name: Age, dtype: object

There are many NaNs (missing ages) and a few guessed ages, represented by '(age) ?'.

#### Check for missing values.  How do you know that a value is missing?

Missing values are represented by NaNs, which there are many in both data sets. The '(age) ?' should not be counted as a missing data as the person recording it should have some reasonable insight as to why they made that guess. Thus, '(age) ?' will be converted to age.

#### Does it makes sense to guess at the value?

I am conflicted on this m







No,  because that adds an uncontrolled uncertainy into the entire data set. For example, if you were to take the average age of each data set, you could manage the uncertainities by knowing how many missing values there are, however, since a guess is a subjective metric, the uncertaintiy caused by that guess is immersurable.

## Part 3: data imputation

#### Well letâ€™s say that it does... You likely noticed that Age has some missing values. How many are missing?

In [ ]:
#cleaning notes
# Clean It
#droping all crew members from lustitania because titanic only has passenger data.
lustitania = lustitania[lustitania['Passenger/Crew'] != 'Crew']
lustitania.head()



#getting t_status to correspond with l_status
t_status = titanic['survived']
l_status = lustitania['Fate']
l_status.loc[l_status == 'Saved'] = 1 
l_status.loc[l_status != 1] = 0

#gender
t_gender = titanic['sex']
l_gender = lustitania['Sex']

#class
#lustitania classes (1st = Saloon)
l_class = lustitania['Department/Class']
l_class.loc['Saloon' == l_class ] = 1
l_class.loc['Second'== l_class] = 2
l_class.loc['Third' == l_class] = 3
l_class.loc['Third (Distressed British Seaman)'== l_class] = 3
t_class = titanic['pclass']
a = set(l_class)
b = set(t_class)

#### For the Age of the passangers ... how would you guess at the missing values using the other data present in the CSV.

## Part 4: Group Statistics

#### Are there any groups that were especially adversely affected in the Titanic wreck? (justify your response numerically)

#### Are there any groups that outperformed the survival of the latter group? (justify your response numerically)

## Part 5:  Comparative Statistics:  Lusitania

#### Are there any groups that were especially adversely affected in the Titanic wreck? (justify your response numerically)

#### Are there any groups that outperformed the survival of the latter group? (justify your response numerically)

#### What does the group-wise survival rate imply about circumstances during these two accidents?